# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo


# Model AI
*.bin
*.pt
*.pth
models/
cache/

# Reports (generate PDF)
reports/
*.pdf

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

#Logs
*.log
logs/

#Volume data
mysql_data/
